Source: node-gearman
Section: web
Priority: extra
Maintainer: Fastsociety Ops <ops@fastsociety.com>
Build-Depends: debhelper (>= 8.0.0), nodejs, npm
Standards-Version: 3.9.2
Homepage: https://github.com/FastSociety/node-gearman

Package: node-gearman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, node-syslog-console
Description: Nodejs gearman module
